<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dogmalabs.wonderadapter.demo">

  <uses-permission android:name="android.permission.INTERNET"/>

  <application
      android:allowBackup="true"
      android:icon="@drawable/ic_launcher"
      android:label="@string/app_name"
      android:theme="@style/AppTheme">

    <activity
        android:name=".ui.activity.MainActivity"
        android:label="@string/app_name">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <!--<activity android:name=".MainActivity"/>-->

    <activity android:name=".ui.activity.ArrayListActivity"/>

    <activity android:name=".ui.activity.CursorListActivity"/>

    <provider
        android:name="com.dogmalabs.wonderadapter.demo.db.provider.WonderContentProvider"
        android:authorities="com.dogmalabs.wonderadapter.demo"
        android:exported="false"/>

  </application>

</manifest>
